body{
    background-color: tomato;
    font-family: sans-serif; 
}
h1{
    color: #fff;
}

.login{
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background-color: white;
    border-radius: 10px;
}
label {
    font-size: 15pt;
    color: rgba(red, green, blue, alpha);
  }

  input[type="text"],
  input[type="password"],
  textarea{
    padding: 8px;
    width: 95%;
    background: lightcyan;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
    
  }
  select{
    padding: 8px;
    border: 0;
    margin: 6px 0px;
    font-size: 10pt;
    background: lightcyan;
    width: 30%;
  }
  .tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
    margin: 20px 0px;
  }
  a{
      text-decoration: none;
  }
  a:hover{
    color: red;
  }